/*
 * Skin: Orange
 * ------------
 */
.skin-dark-orange .main-header .navbar {
  background-color: #ff5000;
}
.skin-dark-orange .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-dark-orange .main-header .navbar .nav > li > a:hover,
.skin-dark-orange .main-header .navbar .nav > li > a:active,
.skin-dark-orange .main-header .navbar .nav > li > a:focus,
.skin-dark-orange .main-header .navbar .nav .open > a,
.skin-dark-orange .main-header .navbar .nav .open > a:hover,
.skin-dark-orange .main-header .navbar .nav .open > a:focus,
.skin-dark-orange .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-dark-orange .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-dark-orange .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-dark-orange .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-dark-orange .main-header .navbar .sidebar-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);;
}
@media (max-width: 767px) {
  .skin-dark-orange .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-dark-orange .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-dark-orange .main-header .navbar .dropdown-menu li a:hover {
    background: #d74a00;
  }
}
.skin-dark-orange .main-header .logo {
  background-color: #ff5000;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-dark-orange .main-header .logo:hover {
  background-color: #ff5000;
}
.skin-dark-orange .main-header li.user-header {
  background-color: #ff5000;
}
.skin-dark-orange .content-header {
  background: transparent;
}
.skin-dark-orange .wrapper,
.skin-dark-orange .main-sidebar,
.skin-dark-orange .left-side {
  background-color: #222d32;
}
.skin-dark-orange .user-panel > .info,
.skin-dark-orange .user-panel > .info > a {
  color: #fff;
}
.skin-dark-orange .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-dark-orange .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-dark-orange .sidebar-menu > li:hover > a,
.skin-dark-orange .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #ff5000;
}
.skin-dark-orange .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-dark-orange .sidebar a {
  color: #b8c7ce;
}
.skin-dark-orange .sidebar a:hover {
  text-decoration: none;
}
.skin-dark-orange .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-dark-orange .treeview-menu > li.active > a,
.skin-dark-orange .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-dark-orange .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-dark-orange .sidebar-form input[type="text"],
.skin-dark-orange .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-dark-orange .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-dark-orange .sidebar-form input[type="text"]:focus,
.skin-dark-orange .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-dark-orange .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-dark-orange .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.modal-header {
  background: #ff5000;
}
.modal-header h4 {
  font-weight: bold;
  color: #fff;
}
.bg-primary {
  background-color: #ff5000 !important;
}

.skin-dark-orange .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #ff5000;
}

/**
 * LOGIN
 */
.skin-dark-orange .container-login100 a:hover {
  color: #ff722c !important;
}

.skin-dark-orange .btn-show-pass:hover,
.skin-dark-orange .btn-show-pass.active {
  color: #ff5000;
  color: -webkit-linear-gradient(left, #ff722c, #ff5000);
  color: -o-linear-gradient(left, #ff722c, #ff5000);
  color: -moz-linear-gradient(left, #ff722c, #ff5000);
  color: linear-gradient(left, #ff722c, #ff5000);
}

.skin-dark-orange .focus-input100::before {
  background: #ff722c !important;
  background: -webkit-linear-gradient(left, #ff722c, #ff5000) !important;
  background: -o-linear-gradient(left, #ff722c, #ff5000) !important;
  background: -moz-linear-gradient(left, #ff722c, #ff5000) !important;
  background: linear-gradient(left, #ff722c, #ff5000) !important;
}

.skin-dark-orange .login100-form-bgbtn {
  background: #ff722c;
  background: -webkit-linear-gradient(right, #ff722c, #ff5000, #ff722c, #ff5000);
  background: -o-linear-gradient(right, #ff722c, #ff5000, #ff722c, #ff5000);
  background: -moz-linear-gradient(right, #ff722c, #ff5000, #ff722c, #ff5000);
  background: linear-gradient(right, #ff722c, #ff5000, #ff722c, #ff5000);
}

.skin-dark-orange .pretty input:checked~.state.p-primary label:after,
.skin-dark-orange .pretty.p-toggle .state.p-primary label:after {
  background-color: #ff722c !important;
}

/**
 * ACCOUNT
 */
.account.skin-dark-orange .btn-user span.username {
  color: #ff5000 !important;
}

.account.skin-dark-orange .account-container .text-primary{
  color: #ff5000 !important;
}

.account.skin-dark-orange .account-container .btn-primary{
  background-color: #ff5000 !important;
  border-color: #ff5000 !important;
}

.account.skin-dark-orange .account-container .btn-primary:hover,
.account.skin-dark-orange .account-container .btn-primary:hover:active,
.account.skin-dark-orange .account-container .btn-primary:active,
.account.skin-dark-orange .account-container .btn-primary.hover {
  background-color: #ff722c !important;
  border-color: #ff722c !important;
  color: #fff !important;
}

.account.skin-dark-orange .account-sidebar .list-group-item.active,
.account.skin-dark-orange .account-sidebar .list-group-item.active:focus,
.account.skin-dark-orange .account-sidebar .list-group-item.active:hover {
  color: #ff722c !important;
}

.account.skin-dark-orange .modal-header,
.account.skin-dark-orange .customer-support .contact .icon{
  background: #ff5000 !important;
}

.customer-support .contact {
  border-color: #ff5000 !important;
}