<table class="head-wrap" style="width: 100%; padding: 10px 0; margin-bottom: 20px;" bgcolor="#FF0000">
    <tbody>
    <tr>
        <td><span style="font-family: helvetica, arial, sans-serif;">&nbsp;</span></td>
        <td class="header container" style="width: 615px;" align="">
            <div class="content">
                <table style="width: 800px;" bgcolor="#FF0000">
                    <tbody>
                    <tr>
                        <td style="width: 284px;"><span style="font-family: helvetica, arial, sans-serif;"><img src="https://www.quickbox.pt/assets/img/logo/logo.svg"></span></td>
                        <td style="width: 321px;" align="right">
                            <h6 class="collapse" style="margin-top: 0px; margin-bottom: 0px;"><span style="font-size: 14pt; color: #ffffff; font-family: helvetica, arial, sans-serif;">WWW.QUICKBOX.PT</span></h6>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
        <td><span style="font-size: 14pt; color: #ffffff; font-family: helvetica, arial, sans-serif;">&nbsp;</span></td>
    </tr>
    </tbody>
</table>
<table class="body-wrap" style="width: 750px; margin: 0 auto;" bgcolor="">
    <tbody>
    <tr>
        <td class="container" style="width: 750px;" align="" bgcolor="#FFFFFF">
            <div class="content">
                <table style="width: 100%;">
                    <tbody>
                    <tr>
                        <td style="width: 594px;">
                            <table style="width: 100%;">
                                <tbody>
                                <tr>
                                    <td style="width: 50%;">
                                        <h1 style="width: 350px; float: left;"><span style="font-family: helvetica, arial, sans-serif; font-size: 29pt; line-height: 39px;">Pensado para transportadoras</span></h1>
                                    </td>
                                    <td style="width: 50%;">
                                        <p style="color: #555; font-weight: lighter; width: 333px; float: right; text-align: right;"><span style="font-family: helvetica, arial, sans-serif; font-size: 22pt;">Software de gestão para transportes e logística.</span></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <p style="margin-top: 20px;"><img src="https://www.quickbox.pt/assets/img/newsletter/header.png" width="630" height="308"></p>
                            <br>
                            <div style="text-align: center;"><span style="font-family: helvetica, arial, sans-serif; font-size: 14pt;"><a style="text-decoration: none; color: #fff; background-color: #ff0000; padding: 10px 16px; font-weight: bold; margin-right: 10px; text-align: center; cursor: pointer; display: inline-block;" href="https://www.quickbox.pt/peca-uma-demonstracao?source=geral@estafetasaominuto.pt">AGENDAR DEMONSTRAÇÃO »</a>&nbsp;<a style="text-decoration: none; color: #fff; background-color: #ff0000; padding: 10px 16px; font-weight: bold; margin-right: 10px; text-align: center; cursor: pointer; display: inline-block;" href="https://www.quickbox.pt/?source=geral@estafetasaominuto.pt">SABER MAIS »</a></span></div>
                            <br><hr>
                            <p style="margin-bottom: 30px;"><span style="font-family: helvetica, arial, sans-serif; font-size: 13pt; font-weight: lighter;">Software 100% online. Faturação integrada e permite-lhe ter website com área de cliente e track &amp; trace. Possibilidade de desenvolver novas ferramentas.</span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="content">
                <table style="width: 625px; height: 61px;" bgcolor="">
                    <tbody>
                    <tr style="height: 61px;">
                        <td style="width: 77px; margin: 0; vertical-align: top;"><span style="font-family: helvetica, arial, sans-serif;"><img src="https://www.quickbox.pt/assets/img/criacao-envios-recolhas.png"></span></td>
                        <td style="width: 530px; height: 61px;">
                            <h4 style="margin-bottom: 5px;margin-top: 0;"><span style="font-family: helvetica, arial, sans-serif; font-size: 14pt;">Criar Envios e Recolhas</span></h4>
                            <p class="" style="margin-top: 0px; margin-bottom: 30px;"><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; font-weight: lighter;">Crie Expedições ou Pedidos de Recolha e gere de imediato as guias de transporte ou etiquetas.</span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="content">
                <table style="width: 627px;" bgcolor="">
                    <tbody>
                    <tr>
                        <td class="small" style="width: 77px; height: 29px; vertical-align: top;"><span style="font-family: helvetica, arial, sans-serif;"><img src="https://www.quickbox.pt/assets/img/area-cliente.png"></span></td>
                        <td style="width: 539px;">
                            <h4 style="margin-bottom: 5px;margin-top: 0;"><span style="font-family: helvetica, arial, sans-serif; font-size: 14pt;">Área de Cliente no seu Site</span></h4>
                            <p class="" style="margin-top: 0; margin-bottom: 30px; font-weight: lighter;"><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">Disponha de uma área onde os clientes podem criar e gerir envios, reembolsos, faturas e muito mais.</span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="content">
                <table style="width: 628px;" bgcolor="">
                    <tbody>
                    <tr>
                        <td class="small" style="width: 79px; vertical-align: top;"><span style="font-family: helvetica, arial, sans-serif;"><img src="https://www.quickbox.pt/assets/img/faturacao-conta-corrente.png"></span></td>
                        <td style="width: 541px;">
                            <h4 style="margin-bottom: 5px;margin-top: 0;"><span style="font-family: helvetica, arial, sans-serif; font-size: 14pt;">Faturação e Contas Corrente</span></h4>
                            <p class="" style="margin-top: 0; margin-bottom: 30px; font-weight: lighter;"><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">Temos integrado programa de faturação que lhe permite emitir faturas diretamente pela aplicação e ainda consultar a conta corrente.</span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="content">
                <table style="width: 628px;" bgcolor="">
                    <tbody>
                    <tr>
                        <td class="small" style="width: 77px; vertical-align: top;"><span style="font-family: helvetica, arial, sans-serif;"><img src="https://software-transportes-logistica.com/assets/img/aplicacao-motoristas.png"></span></td>
                        <td style="width: 547px;">
                            <h4 style="margin-bottom: 5px;margin-top: 0;"><span style="font-family: helvetica, arial, sans-serif; font-size: 14pt;">Aplicação para motoristas</span></h4>
                            <p class="" style="margin-top: 0; margin-bottom: 30px; font-weight: lighter;"><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">Dê a possibilidade aos motoristas de consultarem cargas, marcarem as cargas como entregues e documentarem provas de entrega.</span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="content">
                <table style="width: 627px;" bgcolor="">
                    <tbody>
                    <tr>
                        <td class="small" style="width: 77px; vertical-align: top;"><span style="font-family: helvetica, arial, sans-serif;"><img src="https://www.quickbox.pt/assets/img/controlo-reembolsos.png"></span></td>
                        <td style="width: 540px;">
                            <h4 style="margin-bottom: 5px;margin-top: 0;"><span style="font-family: helvetica, arial, sans-serif; font-size: 14pt;">Controlo de Reembolsos</span></h4>
                            <p class="" style="margin-top: 0; margin-bottom: 30px; font-weight: lighter;"><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">Faça a gestão dos reembolsos e emita diretamente comprovativos de pagamento.</span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="content">
                <table style="width: 626px;" bgcolor="">
                    <tbody>
                    <tr>
                        <td class="small" style="width: 77px; vertical-align: top;"><span style="font-family: helvetica, arial, sans-serif;"><img src="https://www.quickbox.pt/assets/img/track-trace.png"></span></td>
                        <td style="width: 536px;">
                            <h4 style="margin-bottom: 5px;margin-top: 0;"><span style="font-family: helvetica, arial, sans-serif; font-size: 14pt;">Track &amp; Trace e Comprovativos de Entrega</span></h4>
                            <p class="" style="margin-top: 0; margin-bottom: 30px; font-weight: lighter;"><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">Registe e dê acesso aos seus clientes ao track &amp; trace e comprovativos de entrega.</span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="content">
                <table style="width: 627px;" bgcolor="">
                    <tbody>
                    <tr>
                        <td class="small" style="width: 77px; vertical-align: top;"><span style="font-family: helvetica, arial, sans-serif;"><img src="https://www.quickbox.pt/assets/img/tabelas-precos-automaticas.png"></span></td>
                        <td style="width: 539px;">
                            <h4 style="margin-bottom: 5px;margin-top: 0;"><span style="font-family: helvetica, arial, sans-serif; font-size: 14pt;">Tabelas de Preços Automáticas</span></h4>
                            <p class="" style="margin-top: 0; margin-bottom: 50px; font-weight: lighter;"><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">Configure tabelas de preços para cada cliente de acordo com o tipo de serviço, peso, volume, cubicagem entre outros.</span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr/>
            <div class="content">
                <table style="width: 650px; margin-left: 50px;" bgcolor="">
                    <tbody>
                    <tr>
                        <td colspan="5">
                            <h4 style="margin-bottom: 15px;margin-top: 0;font-family: helvetica, arial, sans-serif; font-size: 14pt; text-align: center;">
                                Comunique diretamente com o sistema de parceiros
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="small" style="vertical-align: middle;">
                            <img src="https://software-transportes-logistica.com/assets/img/ctt.png" style="height: 40px"/>
                        </td>
                        <td class="small" style="vertical-align: middle;">
                            <img src="https://software-transportes-logistica.com/assets/img/chronopost.png" style="height: 40px"/>
                        </td>
                        <td class="small" style="vertical-align: middle;">
                            <img src="https://software-transportes-logistica.com/assets/img/gls.png" style="height: 35px"/>
                        </td>
                        <td class="small" style="vertical-align: middle;">
                            <img src="https://software-transportes-logistica.com/assets/img/envialia.png" style="height: 35px"/>
                        </td>
                        <td class="small" style="vertical-align: middle;">
                            <img src="https://software-transportes-logistica.com/assets/img/fedex.png" style="height: 30px"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="width: 650px; margin-left: 50px;" bgcolor="">
                    <tbody>
                    <tr>
                        <td class="small" style="vertical-align: middle;">
                            <img src="https://software-transportes-logistica.com/assets/img/nacex.png" style="height: 30px"/>
                        </td>
                        <td class="small" style="vertical-align: middle;">
                            <img src="https://software-transportes-logistica.com/assets/img/tipsa.png" style="height: 30px"/>
                        </td>
                        <td class="small" style="vertical-align: middle;">
                            <img src="https://software-transportes-logistica.com/assets/img/seur.png" style="height: 15px"/>
                        </td>
                        <td class="small" style="vertical-align: middle;">
                            <img src="https://software-transportes-logistica.com/assets/img/rangel.png" style="height: 45px"/>
                        </td>
                        <td class="small" style="vertical-align: middle;">
                            <img src="https://software-transportes-logistica.com/assets/img/vasp.png" style="height: 35px"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <p style="margin-bottom: 5px;margin-top: 10px; font-family: helvetica, arial, sans-serif; font-size: 10pt; text-align: center;">
                                Possibilidade de ligação com outras empresas.
                                </h4>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="content" style="margin-top: 20px">
                <table style="width: 750px;" bgcolor="#FF0000">
                    <tbody>
                    <tr>
                        <td style="width: 750px;">
                            <table class="social" style="width: 750px; height: 86px; color: #fff">
                                <tbody>
                                <tr>
                                    <td style="width: 250px;">
                                        <div class="column">
                                            <h5 class="" style="text-align: right;margin-bottom: 0;margin-top: 0;"><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif;">Gostava de saber mais?<br/>Agende uma demonstração.&nbsp;</span></h5>
                                        </div>
                                    </td>
                                    <td style="width: 100px;">&nbsp;</td>
                                    <td style="width: 220px;">
                                        <div class="column">
                                            <p style="margin: 0; line-height: 24px;"><span style="font-size: 12pt; font-family: helvetica, arial, sans-serif;">Telefone: <strong>910 431 010</strong><br>E-mail: <strong>info@quickbox.pt</strong></span></p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
        <td style="width: 4px;">&nbsp;</td>
    </tr>
    </tbody>
</table>
<table class="footer-wrap" style="width: 497px;">
    <tbody>
    <tr>
        <td style="font-size: 7px; color: #777; text-align: center;">Caso não pretenda receber mais e-mails, responda a este e-mail.</td>
    </tr>
    </tbody>
</table>